{{ define "main" }}
<div class="content-wrapper">
    <h1>{{ .Params.Title }}</h1>
    <div class="date-info">
    <span>created: {{ .Date.Format "2006-01-02 3:04 PM" }}<br>
    modified: {{ .Lastmod | time.Format "2006-01-02 3:04 PM" }}
    </span>
    </div>
    <hr> <!-- Horizontal line added here -->
    {{ .Content }}
    <script src="https://giscus.app/client.js"
            data-repo="kyupid/kyupid.github.io"
            data-repo-id="R_kgDOKs49ww"
            data-category="General"
            data-category-id="DIC_kwDOKs49w84CbERv"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="ko"
            crossorigin="anonymous"
            async>
    </script>
</div>
{{ end }}
